<h2 class="screen-align">Account</h2>
<div id="template-ihn44" class="gjs-row">
    <div id="template-i4poa" class="gjs-cell">
        <label id="template-iqzh9" class="label ">Account information</label>
        <div id="template-ij4ia" class="gjs-row">
            <div id="template-i1gc1" class="gjs-cell">
                <label id="template-isc8y" class="label ">Account Name </label>
                <input id="template-iha6qb" class="input form-control "
                />
            </div>
            <div id="template-if7tj" class="gjs-cell">
                <label id="template-imbi2" class="label ">Parent Account</label>
                <input id="template-i3m54u" class="input form-control "
                />
            </div>
            <div id="template-ikkfc" class="gjs-cell">
                <label id="template-i08xg" class="label ">Phone</label>
                <input id="template-ikdrrz" class="input form-control " />
            </div>
        </div>
        <div id="template-iz5h2" class="gjs-row">
            <div id="template-ijmpr" class="gjs-cell">
                <label id="template-i8tkf" class="label ">Account Number</label>
                <input id="template-i58jdn" class="input form-control "
                />
            </div>
            <div id="template-i87il" class="gjs-cell">
                <label id="template-i82t4" class="label ">Account Site</label>
                <input id="template-igioze" class="input form-control "
                />
            </div>
            <div id="template-ixrsv" class="gjs-cell">
                <label id="template-i7yf7" class="label ">Fax</label>
                <input id="template-i24j2b" class="input form-control " />
            </div>
        </div>
        <div id="template-ieve2" class="gjs-row">
            <div id="template-ipnyl" class="gjs-cell">
                <label id="template-i77j4" class="label ">Account Site</label>
                <input id="template-ivhndo" class="input form-control "
                />
            </div>
            <div id="template-iuayc" class="gjs-cell">
                <label id="template-ip5r2" class="label ">Ticket Symbol</label>
                <input id="template-idugzg" class="input form-control "
                />
            </div>
            <div id="template-ik865" class="gjs-cell">
                <label id="template-i4u9j" class="label ">Type</label>
                <select id="template-ix8w5p" class="select form-control">
                    <option value="" id="template-izwfbr" class="">- Select option -</option>
                    <option id="template-ia3l8p" class="">Option 1</option>
                </select>
            </div>
        </div>
        <div id="template-ica2f" class="gjs-row">
            <div id="template-izvsb" class="gjs-cell">
                <label id="template-i79eq" class="label ">Ownership</label>
                <select id="template-iqwapi" class="select form-control">
                    <option value="" id="template-i29ezl" class="">- Select option -</option>
                    <option id="template-ir4igb" class="">Option 1</option>
                </select>
            </div>
            <div id="template-iptvj" class="gjs-cell">
                <label id="template-ig9he" class="label ">Industry</label>
                <select id="template-iclqbs" class="select form-control">
                    <option value="" id="template-igytvg" class="">- Select option -</option>
                    <option id="template-ii8q3x" class="">Option 1</option>
                </select>
            </div>
            <div id="template-isift" class="gjs-cell">
                <label id="template-iqlzo" class="label ">Annual Revenue</label>
                <input id="template-iiep1d" class="input form-control "
                />
            </div>
        </div>
        <div id="template-ifond" class="gjs-row">
            <div id="template-ijzss" class="gjs-cell">
                <label id="template-ic726" class="label ">SIC code</label>
                <input id="template-iqg204" class="input form-control "
                />
            </div>
            <div id="template-itubf" class="gjs-cell">
                <label id="template-i1mg1" class="label ">Website</label>
                <input id="template-ifrtmv" class="input form-control "
                />
            </div>
        </div>
        <div id="template-i2cpj" class="gjs-row">
            <div id="template-i8y6j" class="gjs-cell">
                <label id="template-ijzhj" class="label ">Rating</label>
                <select id="template-i9xjha" class="select form-control">
                    <option value="" id="template-ii7aoj" class="">- Select option -</option>
                    <option id="template-iz0gbh" class="">Option 1</option>
                </select>
            </div>
            <div id="template-irrtg" class="gjs-cell"></div>
        </div>
    </div>
</div>
<div id="template-iubsk" class="gjs-row">
    <div id="template-ivxgv" class="gjs-cell">
        <label id="template-i7rqm3" class="label ">Address Information</label>
        <div id="template-ivuwv" class="gjs-row">
            <div id="template-iwfvs" class="gjs-cell">
                <label id="template-ird2o4" class="label ">Billing Street</label>
                <input id="template-ihmao2" class="input form-control "
                />
            </div>
            <div id="template-ia3qy" class="gjs-cell">
                <label id="template-i8a2s9" class="label ">Billing City</label>
                <input id="template-iz9rrl" class="input form-control "
                />
            </div>
            <div id="template-ijclm" class="gjs-cell">
                <label id="template-ittizv" class="label ">Billing State/Province</label>
                <input id="template-idu7oy" class="input form-control "
                />
            </div>
        </div>
        <div id="template-il28p" class="gjs-row">
            <div id="template-i5fr4" class="gjs-cell">
                <label id="template-ivloel" class="label ">Billing Country</label>
                <input id="template-ilt9ef" class="input form-control "
                />
            </div>
            <div id="template-ig1ej" class="gjs-cell">
                <label id="template-i8smml" class="label ">Billing Zip/Postal Code</label>
                <input id="template-ijzbk2" class="input form-control "
                />
            </div>
            <div id="template-ie9d8" class="gjs-cell">
                <label id="template-ig0gz8" class="label ">Shipping Street</label>
                <input id="template-iny7fo" class="input form-control "
                />
            </div>
        </div>
        <div id="template-i1jv5" class="gjs-row">
            <div id="template-ipuik" class="gjs-cell">
                <label id="template-ibghy4" class="label ">Shipping City</label>
                <input id="template-iu1bu7" class="input form-control "
                />
            </div>
            <div id="template-iac1f" class="gjs-cell">
                <label id="template-i0cf1b" class="label ">Shipping State/Province</label>
                <input id="template-i1fezq" class="input form-control "
                />
            </div>
            <div id="template-inymk" class="gjs-cell">
                <label id="template-i52w2y" class="label ">Shipping Country</label>
                <input id="template-iihxqt" class="input form-control "
                />
            </div>
        </div>
        <div id="template-i4eon" class="gjs-row">
            <div id="template-i75pu" class="gjs-cell">
                <label id="template-iebdcj" class="label ">Billing Zip/Postal Code</label>
                <input id="template-iwqy1k" class="input form-control "
                />
            </div>
        </div>
    </div>
</div>
<div id="template-i4487w" class="gjs-row">
    <div id="template-i0iyoq" class="gjs-cell">
        <label id="template-itmrvw" class="label ">Additional Information</label>
        <div id="template-iefq1b" class="gjs-row">
            <div id="template-iyrlml" class="gjs-cell">
                <label id="template-i9213k" class="label ">Customer Priority</label>
                <select id="template-ir6src" class="select form-control">
                    <option value="" id="template-iajn7o" class="">- Select option -</option>
                    <option id="template-ijbn5h" class="">Option 1</option>
                </select>
            </div>
            <div id="template-iju751" class="gjs-cell">
                <label id="template-i9ig6r" class="label ">SLA Expiration Date</label>
                <input id="template-iro8ij" class="input form-control "
                />
            </div>
            <div id="template-iq8w2q" class="gjs-cell">
                <label id="template-iq6bdl" class="label ">SLA</label>
                <select id="template-iqq7tv" class="select form-control">
                    <option value="" id="template-i5x2cp" class="">- Select option -</option>
                    <option id="template-iukb5f" class="">Option 1</option>
                </select>
            </div>
        </div>
        <div id="template-ir460x" class="gjs-row">
            <div id="template-ikp9qp" class="gjs-cell">
                <label id="template-iqofy8" class="label ">SLA Serial Number</label>
                <input id="template-ixbkkw" class="input form-control "
                />
            </div>
            <div id="template-iqaq12" class="gjs-cell">
                <label id="template-i47du6" class="label ">Number of Locations</label>
                <input id="template-ix8ssh" class="input form-control "
                />
            </div>
            <div id="template-i09dex" class="gjs-cell">
                <label id="template-if9luj" class="label ">Upsell Opportunity</label>
                <select id="template-iy2xvv" class="select form-control">
                    <option value="" id="template-i7prdk" class="">- Select option -</option>
                    <option id="template-iler6r" class="">Option 1</option>
                </select>
            </div>
        </div>
        <div id="template-ithwmu" class="gjs-row">
            <div id="template-ifgypm" class="gjs-cell">
                <label id="template-iqt9oh" class="label ">Active</label>
                <select id="template-icn5fj" class="select form-control">
                    <option value="" id="template-i3v8g9" class="">- Select option -</option>
                    <option id="template-ixxmi2" class="">Option 1</option>
                </select>
            </div>
            <div id="template-i8b2pj" class="gjs-cell"></div>
        </div>
    </div>
</div>
<div id="template-i85lwh" class="gjs-row">
    <div id="template-ic118j" class="gjs-cell">
        <label id="template-imewvl" class="label ">Description Information</label>
        <div id="template-i73cqk" class="gjs-row">
            <div id="template-ikenfr" class="gjs-cell">
                <label id="template-idyb4q" class="label ">Description</label>
                <textarea id="template-ine9g7" class="textarea "></textarea>
            </div>
        </div>
    </div>
</div>